@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
    background-color: #000000;
    letter-spacing: -0.02em;
  }
}

@keyframes draw-path {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw-10s {
  stroke-dasharray: 1;
  animation: draw-path 10s linear infinite;
}
